@mixin bg-variant($color){
	background: $color;
}


.bg{
	&-inverse {
		background: $gray-darker;
		color: #fff;
	}
	&-dark{
		background: $gray-dark;
		color: #fff;
	}
	&-light{
		background: $gray-light;
	}
	&-brand{
		background: $brand-color;
	}
}