.page-header{
	margin-bottom: 62px;
	h1, .h1{
		position: relative;
		text-transform: uppercase;
	}
	.sub-header{
		text-transform: uppercase;
		color: $text-color-secondary;
	}
	&-bordered{
		h1, .h1{
			padding-bottom: 25px;
			margin-bottom: 24px;
			&:after{
				content: '';
				width: 170px;
				height: 2px;
				background: $brand-color;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
	}
}