
html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color;
	background: $body-bg;
}
a {
	color: $link-color;
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}
h1, .h1 { font-size: $font-size-h1; margin: $margin-h1; }
h2, .h2 { font-size: $font-size-h2; margin: $margin-h2; }
h3, .h3 { font-size: $font-size-h3; margin: $margin-h3; }
h4, .h4 { font-size: $font-size-h4; margin: $margin-h4; }
h5, .h5 { font-size: $font-size-h5; margin: $margin-h5; }
h6, .h6 { font-size: $font-size-h6; margin: $margin-h6; }

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

.text-brand{
	color: $brand-color;
}