//## Gray and brand colors
$gray-base:   #131316;
$gray-darker: rgba(19,19,22,.8);
$gray-dark:   rgba(19,19,22,.3);
$gray-semi:   #11343a;
$gray-light:  #fbfbfb;
// $gray:        #818286 !default;

$brand-color: #ffe600;


//## Settings for some of the most global styles.
$body-bg:               #fff;
$bg-inverse:            #fff;
$text-color:            #707070;
$text-brand:            $brand-color;
$text-color-secondary:  #515151;
$link-color:            $text-color !default;
$link-hover-color:      darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;


//## Typography
$font-family-base:        'Oswald', Arial, Helvetica, Tahoma, sans-serif;
$font-size-base:          16px;
$font-size-md:            20px;
$font-size-navbar:        14px;

$line-height-base:        1.4;

$headings-font-family:    inherit !default;
$headings-font-weight:    700;
$headings-line-height:    1.1 !default;
$headings-color:          #000;

$font-size-h1:            floor(($font-size-base * 1.875)); // ~30px
$font-size-h2:            floor(($font-size-base * 1.5625)); // ~25px
$font-size-h3:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4:            $font-size-base;
$font-size-h5:            ceil(($font-size-base * 0.875)); // ~14px
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-sub-header:    $font-size-base;

$margin-h1:               27px 0 !default;
$margin-h2:               20px 0 !default;
$margin-h3:               15px 0 !default;
$margin-h4:               10px 0 !default;
$margin-h5:               5px 0 !default;
$margin-h6:               2px 0 !default;


//## Buttons
$btn-font-size:                  20px;
$btn-font-weight:                700;
$btn-border-width:               0;
$btn-border-radius:              0 !default;
$btn-padding-vertical:           15px;
$btn-padding-horizontal:         50px;

$btn-small-font-size:            15px;
$btn-small-padding-vertical:     18px;
$btn-small-padding-horizontal:   58px;

$btn-xsmall-padding-vertical:    15px;
$btn-xsmall-padding-horizontal:  47px;


$btn-brand-color:                $gray-base;
$btn-brand-color-inverse:        #fff;
$btn-brand-bg:                   $brand-color !default;
$btn-brand-border:               $brand-color !default;

$btn-brand-color-hover:          $gray-base;
$btn-brand-bg-hover:             darken($brand-color, 10%) !default;
$btn-brand-border-hover:         darken($brand-color, 10%) !default;

$btn-link-disabled-color:        #ccc !default;


// ## Forms
$input-bg:                       #fff !default;
$input-bg-disabled:              #ccc !default;
$input-color:                    $gray-base;
$input-border:                   $gray-base;
$input-border-radius:            1px;
$input-border-focus:             #66afe9 !default;
$input-color-placeholder:        $gray-base;

$input-height-base:              57px;
$input-font-size:                15px;
$input-line-height:              0.8;
$input-border-width:             1px !default;
$input-line-height-computed:     floor($input-font-size * $input-line-height) !default;

$input-padding:                  ($input-height-base - $input-line-height-computed - $input-border-width) / 2 !default;
$input-padding-vertical:         $input-padding !default;
$input-padding-horizontal:       19px;

$form-group-margin-bottom:       28px;
$cursor-disabled:                not-allowed !default;

// ## Forms-inverse
$input-bg-inverse:               $gray-base;
$input-bg-inverse-disabled:      $gray-darker;
$input-color-inverse:            #fff;
$input-border-inverse:           #fff;
$input-color-inverse-placeholder:#fff;




