@import 'variables';

// elements
@import 'reset';
@import 'type';
@import 'grid';

@import 'buttons';
@import 'forms';

@import 'backgrounds';
@import 'page-header';
@import 'icons/style';

// dev
// @import 'anna';
// @import 'natasha';
// @import 'sasha';
// @import 'sergei';


.pp {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events:none;
    z-index: 999;
    opacity: 0.5;
}

body{
	background: red;
}