@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?w6q5o9');
    src:    url('#{$icomoon-font-path}/icomoon.eot?w6q5o9#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?w6q5o9') format('truetype'),
        url('../fonts/icomoon.woff?w6q5o9') format('woff'),
        url('../fonts/icomoon.svg?w6q5o9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook {
    &:before {
        content: $icon-social-facebook;
    }
}
.icon-angle-double-left {
    &:before {
        content: $icon-angle-double-left;
    }
}
.icon-angle-double-right {
    &:before {
        content: $icon-angle-double-right;
    }
}
.icon-angle-double-up {
    &:before {
        content: $icon-angle-double-up;
    }
}
.icon-angle-double-down {
    &:before {
        content: $icon-angle-double-down;
    }
}
.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}
.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-arrows {
    &:before {
        content: $icon-arrows;
    }
}
.icon-arrows-up {
    &:before {
        content: $icon-arrows-up;
    }
}
.icon-bottle {
    &:before {
        content: $icon-bottle;
    }
}
.icon-camera {
    &:before {
        content: $icon-camera;
    }
}
.icon-car {
    &:before {
        content: $icon-car;
    }
}
.icon-chat {
    &:before {
        content: $icon-chat;
    }
}
.icon-clock {
    &:before {
        content: $icon-clock;
    }
}
.icon-cog {
    &:before {
        content: $icon-cog;
    }
}
.icon-cog2 {
    &:before {
        content: $icon-cog2;
    }
}
.icon-folder {
    &:before {
        content: $icon-folder;
    }
}
.icon-graphic {
    &:before {
        content: $icon-graphic;
    }
}
.icon-hammer {
    &:before {
        content: $icon-hammer;
    }
}
.icon-house {
    &:before {
        content: $icon-house;
    }
}
.icon-lifebuoy {
    &:before {
        content: $icon-lifebuoy;
    }
}
.icon-like {
    &:before {
        content: $icon-like;
    }
}
.icon-load {
    &:before {
        content: $icon-load;
    }
}
.icon-message {
    &:before {
        content: $icon-message;
    }
}
.icon-phone {
    &:before {
        content: $icon-phone;
    }
}
.icon-web {
    &:before {
        content: $icon-web;
    }
}
.icon-vk {
    &:before {
        content: $icon-vk;
    }
}
.icon-dribbble {
    &:before {
        content: $icon-dribbble;
    }
}
.icon-flickr {
    &:before {
        content: $icon-flickr;
    }
}
.icon-github {
    &:before {
        content: $icon-github;
    }
}
.icon-google {
    &:before {
        content: $icon-google;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-pinterest {
    &:before {
        content: $icon-pinterest;
    }
}
.icon-tumblr {
    &:before {
        content: $icon-tumblr;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-vimeo {
    &:before {
        content: $icon-vimeo;
    }
}

@mixin circle-variant($width, $border-radius, $border, $vertical-align){
    width: $width;
    height: $width;
    border-radius: $border-radius;
    border: $border;
    vertical-align: $vertical-align;
    line-height: $width;
}
@mixin size-variant($font-size, $width, $display, $text-align){
    font-size: $font-size;
    width: $width;
    height: $width;
    line-height: $width;
    display: $display;
    text-align: $text-align;
}

.icon{
    &-base{
        @include size-variant(44px, 45px, inline-block, center);
    }
    &-sm{
        @include size-variant(38px, 41px, inline-block, center);
    }
    &-xsm{
        @include size-variant(31px, 33px, inline-block, center);
    }
    &-xs{
        @include size-variant(16px, 20px, inline-block, center);
    }
    &-circle{
        @include circle-variant(69px, 50%, 1px solid transparent, middle);
        &-lg{
            @include circle-variant(105px, 50%, 1px solid transparent, middle);
        }
        &-sm{
            @include circle-variant(35px, 50%, 1px solid transparent, middle);
        }
    }
    &-outline{
        border: 1px solid $gray-base;
        border-radius: 1px;
        &-inverse{
            border: 1px solid #fff;
            border-radius: 1px;
        }
    }
    &-brand{
        color: $brand-color;
    }
}
