$icomoon-font-path: "fonts" !default;

$icon-social-facebook: "\e900";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-angle-double-up: "\f102";
$icon-angle-double-down: "\f103";
$icon-arrow-left: "\e90c";
$icon-arrow-right: "\e90d";
$icon-arrows: "\e90e";
$icon-arrows-up: "\e90f";
$icon-bottle: "\e910";
$icon-camera: "\e911";
$icon-car: "\e912";
$icon-chat: "\e913";
$icon-clock: "\e914";
$icon-cog: "\e915";
$icon-cog2: "\e916";
$icon-folder: "\e917";
$icon-graphic: "\e918";
$icon-hammer: "\e919";
$icon-house: "\e91a";
$icon-lifebuoy: "\e91b";
$icon-like: "\e91c";
$icon-load: "\e91d";
$icon-message: "\e91e";
$icon-phone: "\e91f";
$icon-web: "\e920";
$icon-vk: "\e901";
$icon-dribbble: "\e902";
$icon-flickr: "\e903";
$icon-github: "\e904";
$icon-google: "\e905";
$icon-instagram: "\e906";
$icon-linkedin: "\e907";
$icon-pinterest: "\e908";
$icon-tumblr: "\e909";
$icon-twitter: "\e90a";
$icon-vimeo: "\e90b";

